@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при выполнении запроса.</h2>

    <p>
        <strong>Прозошла ошибка: @Model.Description </strong>
    </p>

